   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Painel de Controle
      </h1>
      
    </section>
 
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class='col-md-4'>
          <button class='btn btn-primary' id='new-loan' style="margin-bottom: 5px">Novo Emprestimo</button>
          <button class='btn btn-danger d-none' id='cancel-loan' style="margin-bottom: 5px">Cancelar</button>
        </div>
        <div class='col-md-4'>
          <p>Filtro: <%= @filter %></p>
        </div>
        <div class='col-md-4'>
          <%= form_with url: '/loan/filtro', remote: false do |f| %>
            <%= f.select :date, @loansFilter, class:'form-control'%>
            <%= f.submit 'Filtrar', class:'btn btn-primary btn-sm'%>
          <% end %>
        </div>
      </div>
      <div class="box box-primary d-none" id="new-loan-form">
        <div class="box-header with-border">
          <h3 class="box-title">Novo Emprestimo</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= form_with  model: @newLoan, url: '/loan/createloan' do |f| %>
            <!-- text input -->
            <div class="form-group">
              <label>Nome</label>
              <%= f.text_field :name, class:'form-control clear-field'%>
            </div>
            <div class="form-group">
              <label>Loja</label>
              <%= f.text_field :store, class:'form-control clear-field'%>
            </div>
            <div class="form-group">
              <label>Valor</label>
              <%= f.text_field :amount, class:'form-control clear-field'%>
            </div>
            <div class="form-group">
              <div class='row'>
                <div class='col-md-3'>
                  <label>Parcela 1</label>
                  <%= f.text_field :portion1, class:'form-control clear-field'%>
                </div>
                <div class='col-md-3'>
                  <label>Pagamento da 1ª parcela</label>
                  <%= f.text_field :date_p1, class:'form-control', value: @p1.strftime('%d/%m/%Y'), id:'date_p1'%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class='row'>
                <div class='col-md-3'>
                  <label>Parcela 2</label>
                  <%= f.text_field :portion2, class:'form-control clear-field'%>
                </div>
                <div class='col-md-3'>
                  <label>Pagamento da 2ª parcela</label>
                  <%= f.text_field :date_p2, class:'form-control', value: @p2.strftime('%d/%m/%Y'), id:'date_p2'%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class='row'>
                <div class='col-md-3'>
                  <label>Parcela 3</label>
                  <%= f.text_field :portion3, class:'form-control clear-field'%>
                </div>
                <div class='col-md-3'>
                  <label>Pagamento da 3ª parcela</label>
                  <%= f.text_field :date_p3, class:'form-control', value: @p3.strftime('%d/%m/%Y'), id:'date_p3'%>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <%= f.submit "Cadastrar", class:'btn btn-primary', id:'new-loan-submit'%>
            </div>
            
          <% end %>
        </div>
      </div>
      <!-- Main row -->
      <div class="row">
        <div class='col-md-12'>
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Emprestimos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-striped">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Nome</th>
                  <th>Loja</th>
                  <th>Valor</th>
                  <th>1ª Parcela</th>
                  <th>2ª Parcela</th>
                  <th>3ª Parcela</th>
                </tr>
                <% @count = 1%>
                <% if !@loans.nil?%>
                  <% @loans.each do |loan| %>
                  <tr style="font-weight: normal">
                    <td><%= @count %>.</td>
                    <% @count += 1 %>
                    <td><%= loan.name%></td>
                    <td><%= loan.store%></td>
                    <td>R$ <%= loan.amount%></td>
                    <td>R$ <%= loan.portion1%> (<%= loan.date_p1.strftime('%d/%m/%Y')%>)</td>
                    <td>R$ <%= loan.portion2%> (<%= loan.date_p2.strftime('%d/%m/%Y')%>)</td>
                    <td>R$ <%= loan.portion3%> (<%= loan.date_p3.strftime('%d/%m/%Y')%>)</td>
                  </tr>
                  <% end %>
                  <tr>
                    <td><b>Total</b></td>
                    <td></td>
                    <td></td>
                    <td>R$ <%= @loans.sum { |loan| loan.amount }%></td>
                    <td>R$ <%= @loans.sum { |loan| loan.portion1 }%></td>
                    <td>R$ <%= @loans.sum { |loan| loan.portion2 }%></td>
                    <td>R$ <%= @loans.sum { |loan| loan.portion3 }%></td>
                  </tr>
                <% end %>
              </table>
            </div>
        </div>
      </div>
      <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
  </div>