   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Painel de Controle
      </h1>
      
    </section>
 
    <!-- Main content -->
    <section class="content">
      <div class="row">
        
        <div class='col-md-4'>
          <h2>Mês: <%= @filter %></h2>
        </div>
        <div class='col-md-4'>
          <h2>Cliente: <%= @cliente.name %></h2>
        </div>
        
      </div>
      
      <!-- Main row -->
      <div class="row">
        <div class='col-md-12'>
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Emprestimos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-striped">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Loja</th>
                  <th>Valor</th>
                  <th>Parcela</th>
                </tr>
                <% @count = 1%>
                <% if !@loans.nil?%>
                  <% @loans.each do |loan|%>
                    <% if (loan.date_p1.month == @mes.to_i and loan.date_p1.year == @ano.to_i)%>
                      <tr style='font-weight: normal'>
                        <td><%= @count%></td>
                        <td><%= loan.store%></td>
                        <% if loan.paid_p1 %>
                          <td class='text-green'>R$ <%= loan.portion1.round(2)%> (<%= loan.date_p1.strftime('%d/%m/%y')%>)</td>
                        <% else %>
                          <td class='text-red'>R$ <%= loan.portion1.round(2)%> (<%= loan.date_p1.strftime('%d/%m/%y')%>)</td>
                        <% end %>
                        <td>Parcela 1</td>
                        <% @count += 1%>
                      </tr>
                    <% end %>
                    <% if (loan.date_p2.month == @mes.to_i and loan.date_p2.year == @ano.to_i)%>
                      <tr style='font-weight: normal'>
                        <td><%= @count%></td>
                        <td><%= loan.store%></td>
                         <% if loan.paid_p2 %>
                          <td class='text-green'>R$ <%= loan.portion2.round(2)%> (<%= loan.date_p2.strftime('%d/%m/%y')%>)</td>
                        <% else %>
                          <td class='text-red'>R$ <%= loan.portion2.round(2)%> (<%= loan.date_p2.strftime('%d/%m/%y')%>)</td>
                        <% end %>
                        <td>Parcela 2</td>
                        <% @count += 1%>
                      </tr>
                    <% end %>
                    
                    <% if (loan.date_p3.month == @mes.to_i and loan.date_p3.year == @ano.to_i)%>
                      <tr style='font-weight: normal'>
                        <td><%= @count%></td>
                        <td><%= loan.store%></td>
                         <% if loan.paid_p3 %>
                          <td class='text-green'>R$ <%= loan.portion3.round(2)%> (<%= loan.date_p3.strftime('%d/%m/%y')%>)</td>
                        <% else %>
                          <td class='text-red'>R$ <%= loan.portion3.round(2)%> (<%= loan.date_p3.strftime('%d/%m/%y')%>)</td>
                        <% end %>
                        <td>Parcela 3</td>
                        <% @count += 1%>
                      </tr>
                    <% end %>
                  <% end %>
                <% end%>
                <tr>
                  <% @sum_p1 = @loans.select{ |loan| (loan.date_p1.month == @mes.to_i and loan.date_p1.year == @ano.to_i) }.sum{ |loan| loan.portion1 }%>
                  <% @sum_p2 = @loans.select{ |loan| (loan.date_p2.month == @mes.to_i and loan.date_p2.year == @ano.to_i) }.sum{ |loan| loan.portion2 }%>
                  <% @sum_p3 = @loans.select{ |loan| (loan.date_p3.month == @mes.to_i and loan.date_p3.year == @ano.to_i) }.sum{ |loan| loan.portion3 }%>
                  <td>Total:</td>
                  <td></td>
                  <td>R$ <%= (@sum_p1 + @sum_p2 + @sum_p3).round(2) %></td>
                  <td></td>
                </tr>
              </table>
              <hr>
              <%= link_to 'Confirmar Pagamentos', confirm_customer_payments_path(@customer_id, @mes + '/' + @ano), class: 'btn btn-success', data: {confirm: 'Tem certeza que deseja confirmar todos estes pagamentos?'}%>
              <%= link_to 'Desconfirmar Pagamentos', cancel_customer_payments_path(@customer_id), class: 'btn btn-danger', data: {confirm: 'Tem certeza que deseja desconfirmar todos estes pagamentos?'}%>
              <%= link_to 'Voltar', show_customer_path(@customer_id), class: 'btn btn-primary'%>
            </div>

        </div>
      </div>
      <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
  </div>

